@import "tailwindcss";
@import "./styles/ionicons.css";

:root {
  /* CORES */
  --background-primary: #ffffff;
  --background-secondary: #f2f3f0;
  --primary-color: #0069ad;
}

.ff-default {
  font-family: Inter;
}

